@use "../../styles/partials//mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles//partials/colors" as *;
@use "../../styles/partials/paddings" as *;


body {
    font-family: 'Space Grotesk', sans-serif;
    margin:0;
    overflow-x: hidden;
    background-color: black;
}


a {
    color:white;
    text-decoration: none;
}

.login-page {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
    margin-top: 10%;

    & img {
        width: 30%;
        max-width: 300px;
    }

    &__fields {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 5%;
        width: 100%;
        max-width: 700px;
        
        input {
            width: 60%;
            height: 2.5em;
            padding-left: 1em;
            outline:none;
            border: none;
            color:white;
            background-color: rgba(255, 255, 255, 0);
            border-bottom: 2px solid white;
            margin-top:3%;
        }
    }

    &-btn {
        width: 60%;
        max-width: 440px;
        padding: 1em;
        height:3em;
        border-radius: 50px;
        background-color: #f7b4ff;
        border: none;
        transition: 200ms;

        &:hover {
            cursor: pointer;
            background-color: white;
        }
    }
}

.global-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:2em 3em;

    @include tablet {
        padding:2em 6em;
    }

    &-logo {
        width:60px;
    }
}

.trash {
    transition: 200ms;
    &:hover {
        cursor: pointer;
        color:#f7b4ff;
    }
}

.logout {
    cursor: pointer;
}

#you {
    color:#f8ccfc;
}

#profile-you {
    background-color:#f8ccfc;
}